<img src="/assets/data/sri.jpg" alt="">
<nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/informacion" routerLinkActive="activo">Informacion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/formulario" routerLinkActive="activo">Formulario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/reporte" routerLinkActive="activo">Registro de Facturas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reporte-inpuestos" routerLinkActive="activo">Reporte Impuestos</a>
    </li>    
  </ul>
</nav>